<html>

<head>
<title>Todo list</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href ="stylesheets/main.css">
                <!-- This is for the bootstrap. bootstrap is life. -->
</head>
<body>
