<% include ../partials/header %>
<% include ../partials/nav.ejs %>
<div class="container">
	<table class = "table table-striped">
		<caption></caption>
		<thead>
			<tr>
				<th>Todo List</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < quot.length; i++) { %>
        <tr>
          <td><b><a href="/list/<%= quot[i]._id %>"> <%= quot[i].description %></a></b></td>
          <td><%= quot[i].date.toISOString().substring(0, 10); %></td>

					<td><a href = "/delete-todo/<%= quot[i]._id %>" class ="btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
		</tbody>
	</table>
<div>
<a id="btn" class="btn btn-success" href="/addtodo">Add todo</a>
</div>
</div>

<% include ../partials/footer.ejs%>
